{% extends "base.html" %}

{% block page_content %}
<div class = "container">
    <h1 class = "my-4">Projects</h1>
    <div class = "row">
        {% for project in projects %}
        <div class = "col-md-4 mb-4">
            <div class = "card h-100">
                <div class = "card-body">
                    <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                    <h5 class = "card-title">{{ project.title }}</h5>
                    <p class = "card-text">{{ project.description }}</p>
                    <p class="card-text">
                      {% for tech in project.technology.split %}
                        <span class="badge rounded-pill bg-info text-dark">{{ tech }}</span>
                      {% endfor %}
                    </p>
                    <a href="{% url 'project_detail' project.pk %}" class = "btn btn-primary" >View Project</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

